

/* Reset & Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
       margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #020617, #0f172a);
  color: #e5e7eb;
}








.container {
  width: 90%;       /* relative to screen width */
  max-width: 1200px; /* optional limit for desktop */
  margin: 0 auto;   /* center container */
}

.index-content {
    display: flex;
    flex-direction: column;
    align-items: justify;
    text-align: justify;
}











/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: #1e1e1e;
    color: #fff;
}

header .logo img {
    width: 150px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

header nav a:hover {
    color: #00bfff;
}


button:hover {
    background: #2563eb;
}

}
button {
  background: #3b82f6;
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  border: none;
}

a {
  background-color: #1e293b; /* dark IT-style */
  color: #ffffff;
  padding: 8px 14px;
  border-radius: 8px;
  text-decoration: none;
}


nav {
  background: black;
  padding: 15px;
}


nav {
  display: flex;
  flex-wrap: wrap; /* allows links to move to next line if too long */
  justify-content: center; /* centers links on small screens */
  gap: 5px; /* consistent spacing */
}













nav a {
  color: white;
  margin-right: 5px;
  text-decoration: none;
  background-color: #1f2937; 
  padding: 6px 12px;         
  border-radius: 8px;
  display: inline-block;
}




/* Sections */
section {
    padding: 100px 50px;
    text-align: center;
}



#home {
    background: linear-gradient(to right, #00bfff, #1e90ff);
    color: #fff;
}

#about {
    background-color: #f0f0f0;
}

/* Footer */
footer {
    text-align: left;
    padding: 20px;
    background-color: #1e1e1e;
    color: #fff;
}
