/* Reset & Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0d1117; 
    background-image:
    radial-gradient(#30363d 1px, transparent 1px);
    background-size: 20px 20px;
    color: #e6edf3; 
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: #1e1e1e;
    color: #fff;
}

header .logo img {
    width: 10px;
    border-radius: 50%;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

header nav a:hover {
    color: #00bfff;
}


button:hover {
    background: #2563eb;
}
/* Sections */
section {
    padding: 100px 50px;
    text-align: center;
}

#home {
    background: linear-gradient(to right, #00bfff, #1e90ff);
    color: #fff;
}

#about {
    background-color: #f0f0f0;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #1e1e1e;
    color: #fff;
}
